body{
    margin: 0;
    height: 100vh;

}

.container{
    height: 100%;
    background-image: url('./images/bg-desktop.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw 50vh;
    background-color: hsl(229, 57%, 11%);
    color: white;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main{
    width: 70%;
    height: 30%;
    margin: auto;
    position: relative;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fylo{
    width: 35%;
    height: 190px;
    background-color: hsl(228, 56%, 26%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border-radius: 0.7em 5em 0.7em 0.7em;
    /* border: 1px solid red; */
}

.fylo__logo{
    width: 25%;
    margin: 1.5em 0 0 2em;
}

.fylo__options{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-left: 2em;
    margin-bottom: 1.5em;
}

.fylo__option{
    width: 32px;
    height: 65%;
    background-color: hsl(229, 57%, 11%);
    padding: 10px;
    margin-right: 10px;
    text-align: center;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fylo__option svg{
    margin: auto;
}

.storage{
    width: 60%;
    height: 152px;
    align-self: flex-end;
    background-color: hsl(228, 56%, 26%);
    border-radius: 8px;
}

.storage__memory-left{
    position: absolute;
    right: 3%;
    top: -5px;
    width: 120px;
    color:hsl(229, 7%, 55%);
    background-color:hsl(243, 100%, 93%);
    border-radius: 0.7em;
    border: 1px solid wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.storage__memory-left p{
    font-size: 0.7em;
    text-align: center;
}

.storage__memory-left strong{
    color: hsl(229, 57%, 11%);
    font-size: 3.5em;
}

.storage__details{
    margin: 35px 30px 0;
    color: hsl(243, 100%, 93%);
    height: 100%;
}
.storage__used{
    font-size: 1em;
}

.storage__bar{
    width: 100%;
    height: 12%;
    background: hsl(229, 57%, 11%);
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.storage__progress{
    width: 81.5%;
    height: 70%;
    border-radius: inherit;
    margin-left: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

.storage__limit{
    background-color: hsl(243, 100%, 93%);
    width: 12px;
    height: 12px;
    border-radius: 100%;
}

.storage__bounds{
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
}

.attribution { 
    font-size: 11px; text-align: center;
    margin-bottom: 10px;
 }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 1024px){
    .storage__memory-left{

    }
}